*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

html, body::-webkit-scrollbar{
    width: 12px;
    background: #151515;
}

html, body::-webkit-scrollbar-track{
    background: none;
    border-radius: 12px;
}

html, body::-webkit-scrollbar-thumb{
    background: #FFD11D;
}
