#loader{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #151515;
}

.loading{
    width: 200px;
}

.loading::before{
    animation: rotation 1.5s linear infinite;
    transform-origin: 50% 50%;
}

@keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }