.pokeDex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 100vw;
    height: 100vh;
}

.buttonStart{
    width: 500px;
    height: 60px;
    border-radius: 5px;
    background-color: #AB0202;
    color: #FFFFFF;
    border: 3px solid #000000;
    transition: 0.5s;
}

.buttonStart:hover{
    background-color: #AB2909;
}


.dialogContent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    position: fixed;
    top: 280px;
    left: 400px;
    width: 900px;
    height: 300px;
    background-color: #AB0202;
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.212);
}

.dialogTitle{
    text-align: center;
    width: 100%;
    color:#FFFFFF;
    font-size: 30px;
    font-weight:600;
}

.Avatares{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 110px;
}

.Avatar{
    width: 100px;
    height: 100px;
    border: 3px solid #FFD11D;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
}

.Avatar:hover{
    opacity: 85%;
}

.hovercardContent{
    width: 300px;
    height: 330px;
    background-color: #151515;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.212);
    animation-duration: 400ms;
    animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    border: 3px solid #FFD11D;
}

.hovercardArrow{
    fill: #FFD11D;
}

.Name{
    font-size: 28px;
    font-weight: 800;
    color: #383838;
}

.Class{
    font-size: 21px;
    font-weight: 600;
    color: #383838;
}

.Type{
    font-size: 21px;
    font-weight: 600;
    color: #383838;
}

.maxCP{
    font-size: 21px;
    font-weight: 600;
    color: #383838;
}

.Height{
    font-size: 21px;
    font-weight: 600;
    color: #383838;
}

.Weight{
    font-size: 21px;
    font-weight: 600;
    color: #383838;
}

.buttonSave{
    width: 200px;
    height: 50px;
    border-radius: 5px;
    background-color: #FFD11D;
    border: 2px solid #000000;
    margin-top: 0;
    transition: 0.5s;
}

.buttonSave:hover{
    opacity: 85%;
}

.IconButton {
    font-family: inherit;
    border-radius: 100%;
    border: none;
    height: 30px;
    width: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #AB2202;
    color: #FFD11D;
    position: absolute;
    margin-top: 0;
    top: 20px;
    right: 40px;
  }

.IconButton:hover {
    opacity: 70%;
}
  